
  <br>

<h1 class="titulo">Gestión de Twitters</h1>
<br>
<%= form_with url: twitters_path, method: :get do |form|%>
  <%= form.text_field :twitter, value: params[:twitter]%>
  <button type="submit" class="btn btn-outline-warning">Buscar</button>
  <%end%>
<div>
<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
<br>
<div class="flex-container">
  <% @twitters.each do |twitter|%>
    <div class="jumbotron">
    <h3><%=twitter.userName%></h3>
    <p><%= twitter.description%></p>
  </div>
  <%end%>
  </div>
<br>

<br>

<%== pagy_nav(@pagy) if @pagy.pages > 1 %>
